.archive-examples {
	position: relative;
	//background: url(../img/template-examples.png) center -160px no-repeat #fff;
}

.archive-examples .top-part {
	position: absolute;
	top: -7px;
	left: 0;
	width: 100%;
}
.archive-examples .top-part .h1 {
	margin-bottom: 27px;
}

.archive-examples .list .row {
	  margin-right: -5px;
	  margin-left: -5px;
}
.archive-examples .list .col-item {
	  padding-right: 5px;
	  padding-left: 5px;
}
.archive-examples .list .col-item .item {
	display: block;
	position: relative;
	text-decoration: none;
	margin-bottom: 10px;
	background-size: cover;
}
.archive-examples .list .col-item .item:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E1CDC8;
	@include cros-opacity (0);
	@include animation-transition (0.5s, opacity);
}
.archive-examples .list .col-item .item:hover:before {
	@include cros-opacity (0.75);
}
.archive-examples .list .col-item .item:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 67px;
	height: 48px;
	background: url(../svg/eye.svg) left top no-repeat;
	margin-left: -33px;
	margin-top: -24px;
	@include cros-opacity (0);
	@include animation-transition (0.5s, opacity);
}
.archive-examples .list .col-item .item:hover:after {
	@include cros-opacity (1);
}
.archive-examples .list .col-item .item.type-1 {
	height: 640px;
}
.archive-examples .list .col-item .item.type-1:hover:before {
	height: 640px;
}
.archive-examples .list .col-item .item.type-2 {
	height: 315px;
}
.archive-examples .list .col-item .item.type-2:hover:before {
	height: 315px;
}
.archive-examples .list .col-item .item.type-3 {
	height: 250px;
}
.archive-examples .list .col-item .item.type-3:hover:before {
	height: 250px;
}
.archive-examples .list .col-item .item.type-4 {
	height: 510px;
}
.archive-examples .list .col-item .item.type-4:hover:before {
	height: 510px;
}

.example-gallery .wrap-jcarousel {
	position: relative;
}
.example-gallery .wrap-jcarousel .jcarousel li {
	height: 500px;
	background-size: cover;
}
.example-gallery .wrap-jcarousel .jcarousel-prev {
	position: absolute;
	display: block;
	top: 50%;
	left: -30px;
	@include left-arrow (2px, 22px, 22px, #907E8A);
	margin-top: -22px;
	@include animation-transition (0.3s, opacity);
}
.example-gallery .wrap-jcarousel .jcarousel-prev:hover {
	@include cros-opacity(0.5);
}
.example-gallery .wrap-jcarousel .jcarousel-next {
	position: absolute;
	display: block;
	top: 50%;
	right: -30px;
	@include right-arrow (2px, 22px, 22px, #907E8A);
	margin-top: -22px;
	@include animation-transition (0.3s, opacity);
}
.example-gallery .wrap-jcarousel .jcarousel-next:hover {
	@include cros-opacity(0.5);
}