.archive-examples {
	position: relative;
	background: url(../img/template-examples.png) center -160px no-repeat #fff;
	height: 2000px;
}

.archive-examples .top-part {
	position: absolute;
	top: -7px;
	left: 0;
	width: 100%;
}
.archive-examples .top-part .h1 {
	margin-bottom: 18px;
}

.archive-examples .list .row {
	  margin-right: -5px;
	  margin-left: -5px;
}
.archive-examples .list .col-item {
	  padding-right: 5px;
	  padding-left: 5px;
}
.archive-examples .list .col-item .item {
	display: block;
	text-decoration: none;
	margin-bottom: 10px;
	background-size: cover;
}
.archive-examples .list .col-item .item.type-1 {
	height: 640px;
}
.archive-examples .list .col-item .item.type-2 {
	height: 315px;
}
.archive-examples .list .col-item .item.type-3 {
	height: 250px;
}
.archive-examples .list .col-item .item.type-4 {
	height: 510px;
}