
.front-page .section {
	position: relative;
}
.front-page .first-screen {  
	position: relative;
	background: url(../img/front-page-first-screen-bg.png) left top no-repeat;
	background-size: cover;
	overflow: hidden;
}
.front-page .first-screen .logo-text {  
	border-color: transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}
.front-page .first-screen .border-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
   //width: 422px;
}
.front-page .first-screen .border-bottom .inner {
	border: 2px solid #E1CDC8;
	height: 520px;
	border-bottom: 0;
	margin: 0 -30px;
}
.front-page .first-screen .center-img {
	position: relative;
	left: auto !important;
	max-width: 100%;
}

.front-page .first-screen .slider {
	display: block !important;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.front-page .first-screen .slider .left-text {
	position: absolute;
    bottom: 100px;
}
.front-page .first-screen .slider ul {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
	bottom: 0;
}
.front-page .first-screen .slider ul li {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
	bottom: 0;
	@include cros-opacity (0);
	@include animation-transition (2s, opacity);
}
.front-page .first-screen .slider ul li.active {
	@include cros-opacity (1);
}

.front-page .about {
	position: relative;
}
.front-page .about .top-margin {
	padding-top: 153px;
}
.front-page .about .border-top {
	position: absolute;
    top: 0;
    left: 0 !important;
    width: 100%;
}

.front-page .about .border-top .inner {
	border: 2px solid #E1CDC8;
    height: 62px;
    border-top: 0;
	margin: 0 -30px;
}
.front-page .about .left-bottom-border {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.front-page .about .left-bottom-border:before {
	content: '';
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 2px solid #E1CDC8; 
}
.front-page .about .left-bottom-border .container {
    position: relative;
	background: #fff;
}
.front-page .about .left-bottom-border .inner-border {
	height: 202px;
	border: 2px solid #E1CDC8;
	border-left: none;
	border-bottom: none;
}
.front-page .statistic {
	background: #F0F0F0;
	//background: url(../img/template-main.png) center -1388px no-repeat;
}

.front-page .statistic .left-top-border {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.front-page .statistic .left-top-border:before {
	content: '';
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 2px solid #E1CDC8; 
}
.front-page .statistic .left-top-border .container {
    position: relative;
	background: #F0F0F0;
}
.front-page .statistic .left-top-border .inner-border {
	height: 101px;
	border: 2px solid #E1CDC8;
	border-left: none;
	border-top: none;
}
.front-page .statistic .items .item .title {	
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 70px;
    padding: 14px 0 6px 16px;
	margin: 0 0 5px;
}
.front-page .statistic .items .item .title:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #E1CDC8;
	height: 100%;
	width: 97px;	
}
.front-page .statistic .items .item .title .inner {
    position: relative;
	background: #F0F0F0;
}
.front-page .statistic .items .item .text {
    padding: 0 0 0 19px;
}
.front-page .statistic .items .item {
	margin-bottom: 24px;
}
.front-page .clothing-design {
	background: url(../img/clothing-design-bg.png) center bottom no-repeat #0A0A0A;
	background-size: auto 100%;
}