.front-page .first-screen {  
	position: relative;
	background: url(../img/front-page-first-screen-bg.png) left top no-repeat;
	background-size: cover;
}
.front-page .first-screen .logo-text {  
	border-color: transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}
.front-page .first-screen .left-text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 48px;
	line-height: 70px;
	font-weight: 300;
	padding: 0 0 93px;
}
.front-page .first-screen .border-bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 420px;
	height: 520px;
	border: 2px solid #E1CDC8;
	border-bottom: 0;
	margin-left: -210px;
}