.main-logo-dark {
	display: inline-block;
	width: 43px;
	height: 40px;
	background: url(../svg/logo-dark.svg) 0px 0px no-repeat;
	background-size: 100% auto;
	border: none;
}
.main-logo-light {
	display: inline-block;
	width: 43px;
	height: 40px;
	background: url(../svg/logo-light.svg) 0px 0px no-repeat;
	background-size: 100% auto;
	border: none;
}
.main-logo-dark.big-logo, .main-logo-light.big-logo {
	width: 53px;
	height: 50px;
}

.light-text {	
	color: $main-color-2;
}
.light-text a {	
	color: $main-color-2;
	border-color: #907E8A;
}
.light-text a:hover {	
	color: $main-color-2;
}

.top-margin-logo {
	padding-top: 19px;
}
.top-margin-logo .logo {
	margin-top: 21px;
}
.top-margin-logo .logo.big-logo {
	margin-top: 6px;
}


.navigate-panel {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	display: table;
	top: 0;
	right: 0;
	width: 194px;
	padding-right: 15px;
	@include animation-transition (0.4s, all);
	z-index: 10;
}
.navigate-panel .btn {
	font-size: 14px;
    padding: 9px 10px;
}
#fullpage .navigate-panel {
	@include cros-opacity (0);
}
#fullpage .fp-completely.active .navigate-panel {
	@include cros-opacity (1);
}
.navigate-panel .phone {
	font-size: 20px;
	letter-spacing: 1px;
    height: 65px;;
}
.navigate-panel .left-margin {
	padding-left: 15px;
}
.menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;	
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.menu ul li {
	display: block;
	position: relative;
	margin: 0 0 10px;
}
.menu ul li a:hover {
	border-color: transparent;	
}
.menu ul li.current-menu-item:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -15px;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #e1cdc8;
	margin-top: -4px;
}
.menu ul li.current-menu-item a {
	color: #907E8A;
	border-color: transparent;
}
.navigate-panel .fullpage-nav {
	padding: 41px 0 16px 5px;
}
.navigate-panel .fullpage-nav .moveSectionDown {
	display: inline-block;
	position: relative;
	top: -7px;
	@include bottom-arrow (2px, 22px, 22px, #907E8A);
}
.light-text .navigate-panel .fullpage-nav .moveSectionDown {
	@include bottom-arrow (2px, 22px, 22px, #C4C4C4);	
}
.navigate-panel .fullpage-nav .moveSectionDown.inactive {
	@include bottom-arrow (2px, 22px, 22px, #C4C4C4);	
}
.light-text .navigate-panel .fullpage-nav .moveSectionDown.inactive {
	@include bottom-arrow (2px, 22px, 22px, #907E8A);
}

.navigate-panel .fullpage-nav .moveSectionUp {
	display: inline-block;
	position: relative;
	top: 7px;
	@include top-arrow (2px, 22px, 22px, #C4C4C4);
}

.navigate-panel .fullpage-nav .moveSectionUp {
	@include top-arrow (2px, 22px, 22px, #907E8A);
}
.light-text .navigate-panel .fullpage-nav .moveSectionUp {
	@include top-arrow (2px, 22px, 22px, #C4C4C4);
}
.navigate-panel .fullpage-nav .moveSectionUp.inactive {
	@include top-arrow (2px, 22px, 22px, #C4C4C4);
}
.light-text .navigate-panel .fullpage-nav .moveSectionUp.inactive {
	@include top-arrow (2px, 22px, 22px, #907E8A);
}
.navigate-panel .bottom-text {
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.6px;
    padding-bottom: 34px;
}
.navigate-panel .fullpage-nav a {
	@include animation-transition (0.3s, all);
}
.navigate-panel .fullpage-nav a:hover {
	@include cros-opacity (0.5);
}

.right-bottom-border-img {
	position: relative;
	margin-bottom: 40px;
}
.right-bottom-border-img:before {
	content: '';
	display: block;
	position: absolute;
	border: 2px solid #E1CDC8;
	width: 100%;
	height: 100%;
	top: 10px;
	left: 10px;
}
.right-bottom-border-img img {
	position: relative;
	width: 100%;
}
.right-bottom-border-img iframe {
	display: block;
	position: relative;
	width: 100%;
	height: 260px;
}

.page {
	padding-top: 140px;
}
.wrap-input-slider {
	position: relative;
	padding-top: 6px;
}
.wrap-input-slider .present-value {
	position: absolute;
	display: none;
	top: 6px;
	left: 0px;
	background: #fff;
}
.wrap-input-slider input {
	display: none;
}
.wrap-input-slider.is-right-value .present-value {
	font-weight: 500;
}
.wrap-input-slider label {
	margin-bottom: 8px;
	color: $main-color;
}
.wrap-input-slider label.max-right {
	display: block;
	float: right;
}
.wrap-input-slider label.max-right span {
	@include cros-opacity (0);
}
.wrap-input-slider.is-right-value label.max-right span {
	@include cros-opacity(1);
}
.wrap-input-slider .input-slider span:first-of-type {
	display: none;
}