.main-logo-dark {
	display: inline-block;
	width: 43px;
	height: 40px;
	background: url(../svg/logo-dark.svg) 0px 0px no-repeat;
	background-size: 100% auto;
}
.main-logo-light {
	display: inline-block;
	width: 43px;
	height: 40px;
	background: url(../svg/logo-light.svg) 0px 0px no-repeat;
	background-size: 100% auto;
}
.main-logo-dark.big-logo, .main-logo-light.big-logo {
	width: 53px;
	height: 50px;
}